* {
    margin: 0;
    text-align: center;
}

.heading {
    font-family: var(--font-family);
    background: linear-gradient(to right, var(--indigo-9), var(--violet-9));
    background-clip: text;
    color: transparent;
    display: inline-block;
    margin-top: 120px;
}

.heading2 {
    font-family: var(--font-family);
    background: linear-gradient(to right, var(--indigo-9), var(--violet-9));
    background-clip: text;
    color: transparent;
    display: inline-block;
}